@import "@fontsource/roboto/300.css"; /* Weight 300 */
@import "@fontsource/roboto/400.css"; /* Weight 400 */
@import "@fontsource/roboto/500.css"; /* Weight 500 */
@import "@fontsource/roboto/700.css"; /* Weight 700 */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hidden-input {
    clip: "rect(0 0 0 0)";
    clip-path: "inset(50%)";
    height: 1px;
    overflow: "hidden";
    position: "absolute";
    bottom: 0;
    left: 0;
    white-space: "nowrap";
    width: 1px;
  }
}
